{% extends 'base.html.twig' %}

{% block title %}- Liste des items{% endblock %}

{% block body %}
<div class="searchBar">
{{ render(controller(
        'App\\Controller\\Front\\SearchController::itemSearchBar'
 )) }}
</div>
<div class="container">
    <table>
        <thead>
            <tr>
                <th colspan="1">Id</th>
                <th colspan="1">Item</th>
                <th colspan="1">Emplacement</th>
                <th colspan="1">Raid</th>
                <th colspan="1">Type</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items |sort((a, b) => a.name <=> b.name) %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>
                        <a href="{{item.detail}}" target="_blank" title="Voir le détail">
                            {{item.name}}
                        </a>
                    </td>
                    <td>
                    {% for slots in item.slots %}
                        {{ slots.name }}</br>
                    {% endfor %}
                    </td>
                    <td>{{item.raid.name}}</td>
                    <td>{{item.type}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}