{% extends 'base.html.twig' %}

{% block title %}- Liste des joueurs{% endblock %}

{% block body %}
{# {{ render(controller(
        'App\\Controller\\SearchController::playerSearchBar'
 )) }} #}
<div class="button-top">        
    <a href="{{ path('app_player_create') }}"class="button-top-add" title="Ajouter"><i class="bi bi-plus-circle"></i> Ajouter un joueur</a>
</div>
<div class="container">
    <div class="left-container">
        <div class="table-responsive-xl">
            <table id="sortTable" >
                <thead>
                    <tr>
                        <th colspan="1">Joueur</th>
                        <th colspan="1">Rôle</th>
                        <th colspan="1">Classe</th>
                        {# <th colspan="1">Participation</th> #}
                        <th colspan="1">Participation</th>
                        <th colspan="1">Loots NM</th>
                        <th colspan="1">Loots HM</th>
                        <th colspan="1">Loots Contested</th>
                        <th colspan="1">Score</th>
                        <th colspan="1">Score</th>

                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                        {% if player.isActif == 1 %}
                            <tr>
                                <td>
                                    <a href="{{ path('app_player_show_by_slug', {'slug': player.slug}) }}">
                                        {{ player.name }}
                                    </a>
                                </td>
                                <td>{{ player.role.name }}</td>
                                <td>{{ player.class }}</td>
                                {# <td>{{ player.participations|length }}</td> #}
                                <td>{{ nbPresenceByPlayer[player.id][0]['nbPresence'] + nbBenchByPlayer[player.id][0]['nbBench'] }}
                                <td>{{ nbItemNMByPlayer[player.id][0]['nbItemNM'] }}</td>
                                <td>{{ nbItemHMByPlayer[player.id][0]['nbItemHM'] }}</td>
                                <td>{{ nbItemContestedByPlayer[player.id][0]['nbItemContested'] }}</td>
                                <td>{{ player.score }}</td>
                                <td>{{ scoreByPlayer }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="right-container">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Top 5 des présences
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <ul>
                        {% for playerParticipation in participations %}
                            <li>{{playerParticipation.name}} : {{playerParticipation[1]}} participation{{ playerParticipation[1] > 1 ? 's' : '' }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Top 5 des benchs
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <ul>
                        {% for playerBench in benchs %}
                            <li>{{playerBench.name}} : {{playerBench[1]}} bench{{ playerBench[1] > 1 ? 's' : '' }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Joueurs par grade
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <ul>
                        {% for playerRank in ranks %}
                            <li>{{playerRank[1]}} joueur{{ playerRank[1] > 1 ? 's' : '' }} "{{playerRank.rank}}"</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        Joueurs par rôle
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <ul>
                        {% for playerRole in roles %}
                            <li>{{playerRole[1]}} joueur{{ playerRole[1] > 1 ? 's' : '' }} "{{playerRole.name}}"</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}