{% extends 'base.html.twig' %}

{% block title %}- Player{% endblock %}

{% block body %}
<div class="title-player">
    <h1>{{ player.name }}</h1>
    <h2>{{ player.role.name }} - {{ player.class }} - {{ player.rank }} - {% if player.isActif == 0 %} Inactif {% else %} Actif {% endif %}</h1>
</div>
<div class="container">

    <div class="left-container">
        <table>
            <thead>
                <tr>
                    <th colspan="1">Date</th>
                    <th colspan="1">Raid</th>
                    <th colspan="1">Item NM</th>
                    <th colspan="1">Item HM</th>
                    <th colspan="1">Item Contested</th>
                </tr>
            </thead>
            <tbody>
                {# pour chaque évènement auquel le joueur a participé je veux la date de l'évènmenent, le(s) raid(s) où l'event s'est déroulé, le nom des items bis reçus, le nom des items contested reçus #}

                {# pour chaque event du player, event date + event raids + item event player de type bis + item event player de type contested #}
                {% for loot in lootHistories %}
                <tr>
                    <td>{{ loot.date ? loot.date|date('d M Y - H:i') : '' }}</td>
                    <td>{{ loot.raid }}</td>
                {% if loot.type == "NM" %}
                    <td>{{ loot.item }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if loot.type == "HM" %}
                    <td>{{ loot.item }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if loot.type == "Contested" %}
                    <td>{{ loot.item }}</td>
                {% else %}
                    <td></td>
                {% endif %}    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="bottom-button d-flex flex-wrap justify-content-evenly">
            <a class="bottom-button-update" href="{{ path('app_player_update', {'id': player.id}) }}">Modifier</a>
            <a class="bottom-button-back" href="{{ path('app_player_list') }}">Retour</a>
            {{ include('player/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="right-container">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Nombre de présence
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <ul>
                        {% for presence in nbPresences %}
                            <li>{{ presence.nombre }} présence{{ presence.nombre > 1 ? 's' : '' }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Nombre de bench
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <ul>
                        {% for bench in nbBenches %}
                            <li>{{ bench.nombre }} bench{{ bench.nombre > 1 ? 'es' : '' }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Nombre d'item "NM"
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <ul>
                        {% for items in nbItemNM %}
                            <li>{{ items.nombre }} item{{ items.nombre > 1 ? 's' : '' }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Nombre d'item "HM"
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <ul>
                        {% for items in nbItemHM %}
                            <li>{{ items.nombre }} item{{ items.nombre > 1 ? 's' : '' }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        Nombre d'item "Contested"
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <ul>
                        {% for items in nbItemContested %}
                            <li>{{ items.nombre }} item{{ items.nombre > 1 ? 's' : '' }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                        Score
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        <ul>
                        {% if scores != 0 %}
                            <li>{{ scores }}</li>
                        {% else %}
                            <li>Pas de score</li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}