{% extends 'base-front.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="register">
            <h1>Inscription</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.pseudo) }}        
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                {{ form_row(registrationForm.captcha) }}

                <button type="submit" class="btn">Confirmer</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
