{% extends 'base-back.html.twig' %}

{% block title %}- Liste des items{% endblock %}

{% block body %}
<div class="searchBar">
{{ render(controller(
        'App\\Controller\\Back\\SearchController::itemSearchBar'
 )) }}
</div>
<div class="button-top">        
    <a href="{{ path('app_admin_item_create') }}"class="button-top-add" title="Ajouter"><i class="bi bi-plus-circle"></i> Ajouter un item</a>
</div>
<div class="container">
    <table>
        <thead>
            <tr>
                <th colspan="1">Id</th>
                <th colspan="1">Item</th>
                <th colspan="1">Emplacement</th>
                <th colspan="1">Raid</th>
                <th colspan="1">Type</th>
                <th colspan="1">Modifier</th>
                <th colspan="1">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items |sort((a, b) => a.name <=> b.name) %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>
                        <a href="{{item.detail}}" target="_blank" title="Voir le détail">
                            {{item.name}}
                        </a>
                    </td>
                    <td>
                    {% for slots in item.slots %}
                        {{ slots.name }}</br>
                    {% endfor %}
                    </td>
                    <td>{{item.raid.name}}</td>
                    <td>{{item.type}}</td>
                    <td><a class="bottom-button-update" href="{{ path('app_admin_item_update', {'id': item.id}) }}" title="Modifier l'item"><i class="bi bi-pencil"></i></a></td>
                    <td>{{ include('back/item/_delete_form.html.twig') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}