{% extends 'base.html.twig' %}

{% block title %}- Liste des items{% endblock %}

{% block body %}
<div class="searchBar">
{{ render(controller(
        'App\\Controller\\SearchController::itemSearchBar'
 )) }}
</div>
<div class="button-top">        
    <a href="{{ path('app_item_create') }}"class="button-top-add" title="Ajouter"><i class="bi bi-plus-circle"></i> Ajouter un item</a>
</div>
<div class="container">
    <table>
        <thead>
            <tr>
                <th colspan="1">Item</th>
                <th colspan="1">Emplacement</th>
                <th colspan="1">Raid</th>
                <th colspan="1">Type</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ path('app_item_show_by_slug', {'slug': item.slug}) }}">
                            {{item.name}}
                        </a>
                    </td>
                    <td>
                    {% for slots in item.slots %}
                        {{ slots.name }}</br>
                    {% endfor %}
                    </td>
                    <td>{{item.raid.name}}</td>
                    <td>{{item.type}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}